<!--Accesibilidad-->
<div id="app" [style.fontSize]="font? font1:font2">
  <!--NavBar-->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="profile" class="navbar-brand">ProyectoFinal</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" >
          <a href="/home" class="nav-link" *ngIf="!isLoggedIn"  routerLink="home">APImagenes </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a href="/tutoriales" class="nav-link" *ngIf="isLoggedIn" routerLink="tutoriales">CRUD de imagenes</a>
        </li>
        <li class="nav-item">
          <a href="/agregar" class="nav-link" *ngIf="isLoggedIn" routerLink="agregar">Agregar</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
      <!--Boton de Accesibilidad-->
      <button (click)="fontSize()" class="btn-flotante">Tamaño de la Fuente</button>
      
    </div>
  </div>
